<nav class="navbar px-0 navbar-light ">
	<span class="navbar-brand h1"><a href="{{site.link}}"><img class="logo-container img-fluid" src="{{theme.link}}/images/WesternCoatingLogo-200x70.png" alt="Western Coating logo"></a></span>
	<ul class="navbar-nav">
		<li class="nav-item active">
			<a class="nav-link pr-5" href="#locations">
				<button class=" btn btn-primary">Contact Us</button>
				<span class="sr-only">(current)</span>
			</a>
		</li>
	</ul>
</nav>
